<ng-template [ngIf]="game != null">
  <div class="dealer">
    <h3>{{game.dealer.name}}</h3>
    <div class="player-hand">
      <ng-template [ngIf]="game.dealerReveal">
        <div *ngFor="let card of game.dealer.hand.sortedHand" class="suit-{{card.suit}} blackjack-card">
          <div>{{card.display}}</div>
        </div>
      </ng-template>
      <ng-template [ngIf]="!game.dealerReveal">
        <div class="suit-{{dealersFirstCard.suit}} blackjack-card">
          <div>{{dealersFirstCard.display}}</div>
        </div>
        <div class="blackjack-card face-down"></div>
      </ng-template>
    </div>
    <div class="possible-scores" *ngIf="game.dealerReveal && game.dealer.hand.sortedHand.count() > 0">
      <span>{{game.dealer.hand.getPossibleScores() | orDelimiter}}</span>
    </div>
  </div>
  <small>cards left: {{game.dealer.cardCount()}}</small>
  <hr>
  <h3>Player Hands</h3>
  <div class="players">
    <ng-template ngFor let-player [ngForOf]="game.players" let-i="index">
      <div class="player-wrapper">
        <div class="player-photo">
          <img *ngIf="player.name != playerName" src="/assets/img/{{player.name | imgFormat}}.png" />
          <img *ngIf="player.name == playerName" src="/assets/img/player.png" />
        </div>
        <div class="player">
          <div class="player-name">
            {{player.name}}
          </div>
          <div class="player-hand">
            <div *ngFor="let card of player.hand.sortedHand" class="suit-{{card.suit}} blackjack-card">
              <div>{{card.display}}</div>
            </div>
          </div>
          <div class="possible-scores" *ngIf="player.hand.sortedHand.count() > 0">
            <span> {{player.hand.getPossibleScores() | orDelimiter}} </span>
          </div>
          <div class="player-actions" *ngIf="player.name == playerName && playersTurn">
            <button type="button" (click)="playerHit(player)">Hit</button>
            <button type="button" (click)="playerPass(player)">Pass</button>
          </div>
          <div class="player-actions" *ngIf="player.name == playerName && game.roundOver">
            <button type="button" (click)="nextRound()">Next Round</button>
          </div>
        </div>
        <div class="current-player" *ngIf="game.currentPlayer == i"></div>
        <div class="round-status-{{player.hand.roundState}}">
          <ng-template [ngIf]="player.hand.roundState == 'winner'">
            <span>You win!!</span>
          </ng-template>
          <ng-template [ngIf]="player.hand.roundState == 'blackjack'">
            <span>Wow! Great! BLACKJACK!</span>
          </ng-template>
          <ng-template [ngIf]="player.hand.roundState == 'loser'">
            <span>Better luck next time :(</span>
          </ng-template>
          <ng-template [ngIf]="player.hand.roundState == 'tie'">
            <span>Well, at least you didn't lose.</span>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
