.game-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-option {
  cursor: pointer;
  border: 1px solid black;
  background: tan;
  height: 50px;
  width: 50px;
  padding: 25px 25px;
  margin-right: 10px;
  margin-top: 10px;
}
